$font-stack: 'Roboto Condensed', sans-serif;
$navbar-height: 60px;
$footer-height: 40px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: $font-stack;
  // margin-top: 60px;
  overflow: hidden;
  // padding-top: $navbar-height;
}
#main-container {
  top: $navbar-height;
  left: 0;
  width: 38.2%;
  position: absolute;
  height: 100%;
  overflow: scroll;
  padding: 10px;
  background: #eee;
  // bottom: -90px;
  // padding-bottom: 40px;
}
#map-container {
  top: $navbar-height;
  width: 61.8%;
  right: 0px;
  position: fixed;
  bottom: $footer-height;
}
