
#mapid {
  height: 100%;
}
#import, #export {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 900;
  background:white;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}
#import {
  top: 105px;
}
