#navbar {
  position: fixed;
  height: 60px;
  top: 0;
  border-bottom: 1.5px solid #eee;
  z-index: 999;
  background: white;
  width: 100%;
}
#navbar .header {
  font-size: 200%;
  float: left;
  width: 30%;
  padding: 10px;
}
#navbar .login {
  float: right;
  margin: 5px 10px;
}
#navbar .login div {
  display: inline-block;
  background: #eee;
  height: 3em;
  width: auto;
  padding: 1em;
  margin-left: 5px;
}
#navbar a {
  height: 100%;
  padding: 10px;
  color: #000;
}
