.navbar-fixed-top {
  border-bottom: 1.5px solid #eee;
}

.navbar-brand {
  text-shadow: 1px 1px 1px #0e4358;
  font-size: 3em;
  color: black;
}


// .navbar {
//   position: fixed;
//   height: $navbar-height;
//   top: 0;
//   z-index: 999;
//   background: white;
//   width: 100%;
//
// }
// .navbar .header {
//   font-size: 200%;
//   float: left;
//   width: 30%;
//   padding: 10px;
// }
.navbar .login {
//   float: right;
  // margin: auto 10px;
}
.navbar .login button {
//   display: inline-block;
//   background: #eee;
  height: 3em;
//   width: auto;
//   padding: 1em;
  margin: 5px;
}
// .navbar a {
//   height: 100%;
//   padding: 10px;
//   color: #000;
// }
