html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden; }

#main-container {
  top: 60px;
  left: 0;
  width: 38.2%;
  position: absolute;
  height: 100%;
  overflow: scroll;
  padding: 10px;
  background: #eee; }

#map-container {
  top: 60px;
  width: 61.8%;
  right: 0px;
  position: fixed;
  bottom: 40px; }

.navbar-fixed-top {
  height: 60px; }

.navbar .container-fluid {
  height: 60px;
  border-bottom: 1.5px solid #696969; }

.navbar-brand {
  margin: 5px;
  font-size: 3.5em;
  color: black; }

#userfunc {
  margin-right: 10px;
  margin-top: 1em; }

.dropdown-menu {
  padding: 15px; }

#userfunc div {
  padding-left: 10px; }

#metaspan {
  font-size: 170%; }

/* Page Content */
#content {
  font-size: 100%; }
  #content .user {
    color: #696969;
    float: right;
    clear: both; }

#filler {
  margin-bottom: 50px;
  height: 60%; }

#mapid {
  height: 100%; }

#import, #export {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 900;
  background: white;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none; }

#import {
  top: 70px; }

footer {
  border-top: 1.5px solid #eee;
  height: 40px;
  width: 100%;
  bottom: 0;
  position: fixed;
  background: white; }

#credit {
  margin: 10px auto;
  color: #343434;
  padding-right: 5px;
  float: right; }

@media (max-width: 640px) {
  #userfunc {
    position: absolute;
    top: 0px;
    right: 0px; }
    #userfunc .login {
      right: 70px;
      top: -34px; }
    #userfunc .register {
      right: 0px;
      top: 0px; } }
